In [3]:
import pandas as pd
import numpy as np 


df_uber = pd.read_csv('restaurants.csv')

In [4]:
import json
data = []
with open('yelp_academic_dataset_business.json', 'r') as file:
    for line in file:
        data.append(json.loads(line))

df_yelp = pd.DataFrame(data)

In [5]:
df_yelp

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [6]:
df_uber

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700
...,...,...,...,...,...,...,...,...,...,...,...
55222,55223,14,Jason's Deli (901 Mckinney),4.6,89.0,"Sandwiches, American, Healthy, Salads, Deli, S...",$$,"901 McKinney St, Houston, TX, 77002",77002,29.757501,-95.365457
55223,55224,52,Luciano's Pizza,NaN,NaN,"Wings, Pizza, American",$,"8548 Broadway St, Houston, TX, 77061",77061,29.666153,-95.277488
55224,55225,76,TJâ€™s Eatery On Tha Go,NaN,NaN,"American, Salads, Comfort Food",NaN,"7454 Mykawa Road, Houston, TX, 77033",77033,29.667050,-95.341220
55225,55226,70,Trash Panda Drinking Club,NaN,NaN,"Pasta, Burgers, Tacos",NaN,"4203 Edison Street, Houston, TX, 77009",77009,29.798390,-95.363160
55226,55227,3,La Casa del Taco (2008 S Wayside Dr ste 100),NaN,NaN,"Mexican, Latin American, Latin Fusion",$,"2008 S Wayside Dr ste 100, Houston, TX, 77023",77023,29.717670,-95.315300

In [9]:
merged_df = pd.merge(df_uber, df_yelp, left_on=['lat', 'lng'], right_on=['latitude', 'longitude'])

In [10]:
merged_df

Empty DataFrame
Columns: [id, position, name_x, score, ratings, category, price_range, full_address, zip_code, lat, lng, business_id, name_y, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

[0 rows x 25 columns]

In [12]:
a = set(df_yelp['postal_code'].unique())

In [13]:
b = set(df_uber['zip_code'].unique())

In [19]:
intersection = a.intersection(b)

In [29]:
intersection

{'19104',
 '20781',
 '33756',
 '63112',
 '77077',
 '78704',
 '78752',
 '98501',
 '99207',
 '99324'}

In [27]:
intersection.remove('05201')

In [28]:
df_uber[df_uber['zip_code'].isin(intersection)].sort_values('zip_code')

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
52937,52938,43,Royal Eggs. (2616 Blodgett St),NaN,NaN,"American, Comfort Food, Alcohol",$,"2616 Blodgett St, Houston, TX, 19104",19104,29.722940,-95.370230
26859,26860,186,GOSHEN,NaN,NaN,"Fast Food, Healthy, Salads, Vegan, Vegan Frien...",$$,"5105 Baltimore Ave, Hyattsville, MD, 20781",20781,38.952941,-76.939953
29085,29086,249,Cafe Azul Caracas De Ayer,NaN,NaN,"Latin American, South American, Venezuelan",$,"4423 Longfellow St, Hyattsville, MD, 20781",20781,38.957042,-76.940263
6312,6313,1,CVS (250 COURT STREET),NaN,NaN,"Everyday Essentials, Convenience, Pharmacy, Sn...",$,"250 COURT STREET, WESTON, WV, 33756",33756,39.037750,-80.463880
43983,43984,22,"CVS (1513 SOUTH VALLEY MILLS DRIVE, CORNER OF ...",NaN,NaN,"Everyday Essentials, Convenience, Pharmacy, Sn...",$,1513 SOUTH VALLEY MILLS DRIVE CORNER OF SPEIGH...,33756,31.524670,-97.142700
...,...,...,...,...,...,...,...,...,...,...,...
10224,10225,24,Subway (1700 Se Meadowbrook Blvd),NaN,NaN,"Fast Food, Sandwich, American",$,"1700 Se Meadowbrook Blvd, College Place, WA, 9...",99324,46.033360,-118.383550
10227,10228,6,Panda Express (1721 Se Meadowbrook Blvd.),4.3,29.0,"Asian, Chinese, Family Meals",$,"1721 Se Meadowbrook Blvd., College Place, WA, ...",99324,46.032698,-118.380091
10231,10232,13,The Human Bean (Walla Walla),NaN,NaN,"American, Bakery, Cafe",$,"1195 E Whitman Dr, College Place, WA, 99324",99324,46.050780,-118.370260
10232,10233,10,Del Taco (1725 S.E. Meadowbrook Blvd. | 1019),4.8,21.0,"Fast Food, Mexican, Tacos",$,"1725 S.E. Meadowbrook Blvd., College Place, WA...",99324,46.032929,-118.379741
10242,10243,5,Subway (1605 Se Meadowbrook Blvd Ste 10),NaN,NaN,"Fast Food, Sandwich, American",$,"1605 Se Meadowbrook Blvd Ste 10, College Place...",99324,46.034390,-118.381010

In [23]:
df_yelp[df_yelp['postal_code'].isin(intersection)].sort_values('postal_code')

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
144012,g0fYqQRRKmYIfChE4jMLsg,All Service Citgo,212 Lincoln St,Bennington,VT,05201,42.885480,-73.200457,4.5,10,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Oil Change Stations, Automotive, Gas Stations,...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
82,ppFCk9aQkM338Rgwpl2F5A,Wawa,3604 Chestnut St,Philadelphia,PA,19104,39.954573,-75.194894,3.0,56,1,"{'Alcohol': 'u'none'', 'RestaurantsGoodForGrou...","Restaurants, Automotive, Delis, Gas Stations, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
92020,E2pfdKBpou7ZdIBxyZo1PQ,Ted's Pizza Express,3741 Lancaster Ave,Philadelphia,PA,19104,39.960336,-75.196733,3.0,20,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Restaurants, Pizza",None
92095,NEa3QfKlbLI-BFh9_DCPzw,Chewy's Food Truck,,Philadelphia,PA,19104,39.959169,-75.198419,4.5,87,1,"{'WiFi': 'u'no'', 'OutdoorSeating': 'True', 'R...","American (New), American (Traditional), Restau...",None
92107,Pf8c5eSvvSKgjqB53y82Mw,US Post Office,"2955 Market St Lbby A, Lobby A",Philadelphia,PA,19104,39.952781,-75.165307,1.5,9,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Post Offices, Local Services...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22204,2F7SSas3Yo0vjwaE9yjyxg,All Tiana's Parties,,New Orleans,LA,78704,29.951066,-90.071532,4.5,10,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Party & Event Planning, Arts & Entertainment, ...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
95091,oTRrNy5VIaTw7MKEvxZl7A,Wildlife Wonders,"7703 N Lamar Blvd, Ste 118",Austin,TX,78752,27.839893,-82.764505,2.0,9,1,"{'RestaurantsPriceRange2': '3', 'BusinessAccep...","Shopping, Outdoor Furniture Stores, Home Decor...","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
57522,Hct7t6IMP5LohOhBxOIq5Q,Therapeutic Evolution,712 S Center St,Reno,NV,98501,39.519026,-119.808030,5.0,5,0,"{'BusinessParking': '{'garage': False, 'street...","Health & Medical, Massage Therapy, Massage, Be...",None
10948,kNK3tjrKa6e_Tf9c9WWehA,Suave Nails,4013 N Market St,Spokane,WA,99207,39.760807,-75.522491,2.5,6,1,"{'BikeParking': 'True', 'BusinessParking': 'No...","Beauty & Spas, Nail Salons",None
29606,qbh_Xg-wfgk_qINdyApMag,Valvoline Instant Oil Change,325 NE Myra Road,College Place,WA,99324,39.611974,-86.158897,4.5,13,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Automotive","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."

In [30]:
df_uber

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700
...,...,...,...,...,...,...,...,...,...,...,...
55222,55223,14,Jason's Deli (901 Mckinney),4.6,89.0,"Sandwiches, American, Healthy, Salads, Deli, S...",$$,"901 McKinney St, Houston, TX, 77002",77002,29.757501,-95.365457
55223,55224,52,Luciano's Pizza,NaN,NaN,"Wings, Pizza, American",$,"8548 Broadway St, Houston, TX, 77061",77061,29.666153,-95.277488
55224,55225,76,TJâ€™s Eatery On Tha Go,NaN,NaN,"American, Salads, Comfort Food",NaN,"7454 Mykawa Road, Houston, TX, 77033",77033,29.667050,-95.341220
55225,55226,70,Trash Panda Drinking Club,NaN,NaN,"Pasta, Burgers, Tacos",NaN,"4203 Edison Street, Houston, TX, 77009",77009,29.798390,-95.363160
55226,55227,3,La Casa del Taco (2008 S Wayside Dr ste 100),NaN,NaN,"Mexican, Latin American, Latin Fusion",$,"2008 S Wayside Dr ste 100, Houston, TX, 77023",77023,29.717670,-95.315300