In [7]:
import pandas as pd
df = pd.read_csv('restaurants.csv')
df_meau = pd.read_csv('restaurant-menus.csv')

In [8]:
df

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700
...,...,...,...,...,...,...,...,...,...,...,...
55222,55223,14,Jason's Deli (901 Mckinney),4.6,89.0,"Sandwiches, American, Healthy, Salads, Deli, S...",$$,"901 McKinney St, Houston, TX, 77002",77002,29.757501,-95.365457
55223,55224,52,Luciano's Pizza,NaN,NaN,"Wings, Pizza, American",$,"8548 Broadway St, Houston, TX, 77061",77061,29.666153,-95.277488
55224,55225,76,TJ’s Eatery On Tha Go,NaN,NaN,"American, Salads, Comfort Food",NaN,"7454 Mykawa Road, Houston, TX, 77033",77033,29.667050,-95.341220
55225,55226,70,Trash Panda Drinking Club,NaN,NaN,"Pasta, Burgers, Tacos",NaN,"4203 Edison Street, Houston, TX, 77009",77009,29.798390,-95.363160
55226,55227,3,La Casa del Taco (2008 S Wayside Dr ste 100),NaN,NaN,"Mexican, Latin American, Latin Fusion",$,"2008 S Wayside Dr ste 100, Houston, TX, 77023",77023,29.717670,-95.315300

In [17]:
def get_num(row):
    arr = row['price'].split(' USD')
    return float(arr[0])

df_meau['price_numerical'] = df_meau.apply(get_num,  axis=1)

In [28]:
df_meau_stats = df_meau.groupby('restaurant_id')['price_numerical'].median().reset_index()

In [19]:
('name')[['stars_y','count']].mean()

,restaurant_id,category,name,description,price,price_numerical
0,1,Extra Large Pizza,Extra Large Meat Lovers,Whole pie.,15.99 USD,15.99
1,1,Extra Large Pizza,Extra Large Supreme,Whole pie.,15.99 USD,15.99
2,1,Extra Large Pizza,Extra Large Pepperoni,Whole pie.,14.99 USD,14.99
3,1,Extra Large Pizza,Extra Large BBQ Chicken &amp; Bacon,Whole Pie,15.99 USD,15.99
4,1,Extra Large Pizza,Extra Large 5 Cheese,Whole pie.,14.99 USD,14.99
...,...,...,...,...,...,...
4450094,55227,Beverage,Sprite,NaN,2.49 USD,2.49
4450095,55227,Beverage,Gold Peak Iced Tea,NaN,2.49 USD,2.49
4450096,55227,Sweets,Churros,NaN,5.49 USD,5.49
4450097,55227,Sweets,New York-Style Cheesecake,NaN,5.49 USD,5.49
4450098,55227,Sweets,Chocolate Brownie,NaN,5.49 USD,5.49

In [26]:
from pandas import DataFrame

DataFrame(df_meau_stats)

               price_numerical
restaurant_id
1                        2.990
2                        5.490
3                       13.180
4                       11.990
5                        3.625
...                        ...
55223                   10.360
55224                    6.990
55225                   12.000
55226                    8.000
55227                    5.490

[55083 rows x 1 columns]

In [27]:
df_meau_stats['restaurants_id']

KeyError: 'restaurants_id'

In [23]:
df_meau_stats['restaurant_id']

KeyError: 'restaurant_id'

In [37]:
df = df.merge(df_meau_stats, left_on = 'id', right_on = 'restaurant_id')

In [38]:
df = df.dropna()

In [44]:
df.columns

Index(['id', 'position', 'name', 'score', 'ratings', 'category', 'price_range',
       'full_address', 'zip_code', 'lat', 'lng', 'restaurant_id',
       'price_numerical'],
      dtype='object')

In [41]:
df['score'].corr(df['ratings'])

0.17585778637972643

In [36]:
df['price_numerical']

KeyError: 'price_numerical'

In [42]:
from scipy.stats import linregress
slope, intercept, r_value, p_value, std_err = linregress(df['price_numerical'], df['score'])
print(f"{slope} {intercept} {r_value} {p_value} {std_err}")

0.0035802204216558277 4.523619551968985 0.05889222048722818 9.080210005030677e-22 0.000373122743481821

In [43]:
from scipy.stats import linregress
slope, intercept, r_value, p_value, std_err = linregress(df['price_numerical'], df['ratings'])
print(f"{slope} {intercept} {r_value} {p_value} {std_err}")

-0.06110869772468079 79.04879496172957 -0.0040983731654893165 0.5050378838551202 0.09167316116450958